
@font-face {
    font-family: JosefinSans;
    src: url(../font/JosefinSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: JosefinSans;
    src: url(../font/JosefinSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: JosefinSans;
    src: url(../font/JosefinSans-Regular.ttf);
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: JosefinSans, sans-serif;
    overflow-x: hidden;
    width: 100%;
    background: #191634;
    color: #ddd;
    line-height: 30px;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.btns {
    border: none;
    background-color: transparent;
}

.banner-section {
    padding: 290px 0 210px;
    position: relative;
    overflow: hidden;
}

.bg_img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner-shape {
    position: absolute;
    top: 0;
    left: 14%;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.102);
}

.banner-shape:nth-of-type(odd)::before {
    animation: 13s linear nama_utha infinite;
    -webkit-animation: 13s linear nama_utha infinite;
    -moz-animation: 13s linear nama_utha infinite;
}

.banner-shape:nth-of-type(odd)::after {
    animation: 15s linear utha_nama infinite;
    -webkit-animation: 15s linear utha_nama infinite;
    -moz-animation: 15s linear utha_nama infinite;
}

.banner-shape:nth-of-type(even)::before {
    animation: 13s linear utha_nama infinite;
    -webkit-animation: 13s linear utha_nama infinite;
    -moz-animation: 13s linear utha_nama infinite;
}

.banner-shape:nth-of-type(even)::after {
    animation: 15s linear nama_utha infinite;
    -webkit-animation: 15s linear nama_utha infinite;
    -moz-animation: 15s linear nama_utha infinite;
}

.banner-shape::before {
    background: #08d565;
}

.banner-shape::after,
.banner-shape::before {
    width: 1px;
    height: 30px;
}

.section-header .title::before,
.footer-overlay::before,
.footer-overlay::after,
.banner-shape::after,
.banner-shape::before,
.banner-content-2 .subtitle::before,
.banner-section-2::before,
.banner-section-2::after,
.banner-icon::before,
.left-shape::after,
.left-shape::before,
.video-wrapper::after,
.video-wrapper::before,
.gallery-item-2 .gallery-inner-2 .gallery-content,
.history-area::before,
.counter-item::before,
.achivement-left .bg_img::before,
.award-item-2 .award-inner .award-thumb::before,
.award-item-2 .award-inner .award-thumb::after,
.hero-section::before,
.hero-section::after,
.post-item .post-thumb a::before {
    position: absolute;
    content: '';
}

.banner-shape:nth-of-type(odd)::after {
    animation: 15s linear utha_nama infinite;
    -webkit-animation: 15s linear utha_nama infinite;
    -moz-animation: 15s linear utha_nama infinite;
}

.banner-shape::after {
    background: #ffffff;
}

.banner-shape::after,
.banner-shape::before {
    width: 1px;
    height: 30px;
}

.section-header .title::before,
.footer-overlay::before,
.footer-overlay::after,
.banner-shape::after,
.banner-shape::before,
.banner-content-2 .subtitle::before,
.banner-section-2::before,
.banner-section-2::after,
.banner-icon::before,
.left-shape::after,
.left-shape::before,
.video-wrapper::after,
.video-wrapper::before,
.gallery-item-2 .gallery-inner-2 .gallery-content,
.history-area::before,
.counter-item::before,
.achivement-left .bg_img::before,
.award-item-2 .award-inner .award-thumb::before,
.award-item-2 .award-inner .award-thumb::after,
.hero-section::before,
.hero-section::after,
.post-item .post-thumb a::before {
    position: absolute;
    content: '';
}

.banner-content {
    position: relative;
    max-width: 500px;
}

@media (min-width: 992px) {
    .banner-section {
        height: auto;
    }

    .banner-thumb {
        position: absolute;
        bottom: 0;
        left: calc(50% - 183px);
    }

    .banner-thumb img {
        width: 600px;
        transform: translate(50px, 170px);
    }
}

.banner-shape.shape-2 {
    left: 30%;
}

.banner-shape.shape-3 {
    left: 42%;
}

.banner-shape.shape-4 {
    left: 56%;
}

.banner-shape.shape-5 {
    left: 70%;
}

.banner-shape.shape-6 {
    left: 85%;
}

@keyframes nama_utha {
    0% {
        bottom: 0;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        bottom: 100%;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes utha_nama {
    0% {
        top: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        top: 100%;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.text-theme {
    color: #08d565;
}

.banner-content .title {
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 98px;
    line-height: 99px;
    color: #fff;
}

.custom-button {
    color: #08d565;
    font-size: 20px;
    font-family: sans-serif
}

.information-section {
    position: relative;
    z-index: 1;
}

.mt--103 {
    margin-top: -103px;
}

.information-item {
    box-shadow: 0px 0px 13px 0px rgb(202 59 59 / 0%);
    border-radius: 10px;
    margin-bottom: 30px;
}

.information-item .info-inner {
    position: relative;
    overflow: hidden;
    padding: 40px 30px 35px;
    border-radius: 10px;
    background-color: #f83097;
    color: #fff;
}

.information-item .right-icon {
    font-size: 160px;
    position: absolute;
    line-height: 1;
    right: -20px;
    bottom: -20px;
    opacity: .2;
}

.information-item .icon {
    line-height: 1;
    font-size: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    h5 {
        font-size: 24px;
        line-height: 28px;
        margin-top: -2px;
    }
}

div[class*="col"]:nth-of-type(4n + 2) .info-inner {
    background-color: #6718e9;
}

div[class*="col"]:nth-of-type(4n + 3) .info-inner {
    background-color: #d025ce;
}

div[class*="col"]:nth-of-type(4n + 4) .info-inner {
    background-color: #e97518;
}

.info {
    color: #ddd;
}

.oh {
    overflow: hidden;
}

.padding-top {
    padding-top: 100px;
}

.section-header.margin-olpo {
    margin-bottom: 60px;
}

.section-header {
    position: relative;
    overflow: hidden;
    margin-bottom: 75px;
}

.section-header::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 50%;
    height: 1px;
    background: #2b2844;
}

.section-header .title {
    display: inline-block;
    margin: 0;
    position: relative;
    padding: 25px 0 20px;
    color: #fff;
    font-size: 36px;
}
.banner-content .title{
    font-weight: bold;
}
.section-header .title::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 65px;
    left: 0;
    top: 0;
    z-index: 2;
    background: #272440;
}

.section-header .title .shape {
    color: #08d565;
}

.section-header .title span {
    position: relative;
    z-index: 2;
}

.section-header .title span {
    position: relative;
    z-index: 2;
}

.section-header .title::after {
    content: "";
    position: absolute;
    right: -150px;
    left: 0;
    top: 0;
    background: #191634;
    bottom: 0;
}

.about-content .header-para {
    margin-bottom: 55px;
}

p {
    margin-top: -10px;
}

.about-area {
    position: relative;
    z-index: 1;
    margin-bottom: -60px;
}

.about-area .item {
    margin-bottom: 60px;
}

.social-icons,
.footer-bottom .links,
.footer-area,
.header-wrapper,
.menu,
.header-bottom-wrapper,
.header-search-form,
.follow-area,
.banner-counter-wrapper,
.banner-counter-item,
.partner-item,
.award-item,
.award-item .award-thumb,
.tweet-item .tweet-header,
.tweet-item .tweet-footer,
.gallery-thumb a,
.owl-dots,
.gallery-item-2 .gallery-inner-2 .gallery-content,
.gallery-wrapper,
.history-tab,
.tab-menu,
.counter-item .counter-header,
.about-area .item,
.award-item-2 .award-inner,
.circle-area,
.history-item-2,
.about-item,
.pagination,
.contact-info-item,
.contact-wrapper,
.comment-area li .comment-item,
.blog-item,
.blog-item-2 .blog-footer,
.blog-item-2 .blog-footer .author,
.post-item .post-content .post-tags,
.preloader {
    display: flex;
    flex-wrap: wrap;
}

.about-area .item .icon {
    width: 65px;
    font-size: 40px;
    color: #08d565;
    line-height: 1;
}

.about-area .item .content {
    width: calc(100% - 65px);
    max-width: 350px;
}

.about-area .item .content {
    width: calc(100% - 65px);
    max-width: 350px;
}

.about-area .item .content .title span::after {
    margin-left: 15px;
    display: inline-block;
    height: 1px;
    width: 20px;
    content: "";
    background: #fff;
}

p:last-child {
    margin-bottom: -7px !important;
}

.about-area .item .content .title {
    font-weight: 500;
    margin-bottom: 20px;
}

.padding-bottom {
    padding-bottom: 100px;
}

@media (min-width: 768px) {
    .about-area .item .icon {
        width: 100px;
        font-size: 65px;
    }

    .about-area .item .content {
        width: calc(100% - 100px);
    }

    .about-area .item .content {
        width: calc(100% - 100px);
    }
}

.video-fluid {
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.bg_img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.video-button.large {
    height: 70px;
    width: 70px;
    line-height: 70px;
}

.video-button {
    color: #ffffff;
    border: none;
    text-align: center;
    width: 60px;
    height: 60px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #08d565;
}

a {
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

@media (min-width: 576px) {
    .video-fluid {
        height: 450px;
    }
}

@media (min-width: 768px) {
    .video-fluid {
        height: 750px;
    }

    .video-button.large {
        height: 100px;
        width: 100px;
        line-height: 90px;
        font-size: 36px;
    }

}

@media (min-width: 1200px) {
    .video-fluid {
        height: 870px;
    }
}

.video-fluid::before {
    width: 101%;
    height: 101%;
    background: rgba(25, 22, 52, 0.51);
}

.bg-overlay::before,
.overlay-83::before,
.overlay-82::before,
.video-fluid::before,
.circle strong,
.hero-content .title::before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
}

.video-button::before {
    z-index: -10;
    -webkit-animation: inner-ripple 2000ms linear infinite;
    -moz-animation: inner-ripple 2000ms linear infinite;
    animation: inner-ripple 2000ms linear infinite;
}

.video-button::after,
.video-button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 74px;
    background: #08d565;
    opacity: 0.15;
    z-index: -10;
}

@keyframes outer-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-filter: alpha(opacity=50);
    }

    80% {
        transform: scale(1.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }

    100% {
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
    }
}

@-webkit-keyframes outer-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    80% {
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
    }

    100% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(3.5);
        -moz-transform: scale(3.5);
        -ms-transform: scale(3.5);
        -o-transform: scale(3.5);
    }
}

@-moz-keyframes outer-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    80% {
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -ms-transform: scale(2.5);
        -o-transform: scale(2.5);
    }

    100% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(3.5);
        -moz-transform: scale(3.5);
        -ms-transform: scale(3.5);
        -o-transform: scale(3.5);
    }
}

/* inner ripple */
@keyframes inner-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    30% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    100% {
        transform: scale(1.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
}

@-webkit-keyframes inner-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    30% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    100% {
        transform: scale(1.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
}

@-moz-keyframes inner-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    30% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    100% {
        transform: scale(1.5);
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
}

.video-button i {
    line-height: 60px;
    font-size: 24px;
    margin-left: 4px;
    color: #fff;
}

.achivement-content p {
    margin-bottom: 40px;
}

.counter-wrapper {
    margin: 0 -15px -30px;
}

.counter-item {
    padding: 0 15px 30px;
    position: relative;
}

@media (min-width: 768px) {
    .counter-item {
        width: calc(100% / 3);
    }
}

.counter-item::before {
    width: 53px;
    height: 50px;
    -webkit-border-radius: 15px 0 0 0;
    -moz-border-radius: 15px 0 0 0;
    border-radius: 15px 0 0 0;
    left: 15px;
    top: 0;
    background: #08d565;
    z-index: -1;
    position: absolute;
    content: '';
}

.counter-item .counter-header {
    align-items: center;
}

.social-icons,
.footer-bottom .links,
.footer-area,
.header-wrapper,
.menu,
.header-bottom-wrapper,
.header-search-form,
.follow-area,
.banner-counter-wrapper,
.banner-counter-item,
.partner-item,
.award-item,
.award-item .award-thumb,
.tweet-item .tweet-header,
.tweet-item .tweet-footer,
.gallery-thumb a,
.owl-dots,
.gallery-item-2 .gallery-inner-2 .gallery-content,
.gallery-wrapper,
.history-tab,
.tab-menu,
.counter-item .counter-header,
.about-area .item,
.award-item-2 .award-inner,
.circle-area,
.history-item-2,
.about-item,
.pagination,
.contact-info-item,
.contact-wrapper,
.comment-area li .comment-item,
.blog-item,
.blog-item-2 .blog-footer,
.blog-item-2 .blog-footer .author,
.post-item .post-content .post-tags,
.preloader {
    display: flex;
    flex-wrap: wrap;
}

.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-default .odometer-digit {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
    text-align: left;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

@media (min-width: 768px) {
    h2 {
        font-size: 60px;
        line-height: 70px;
        margin-top: -6px;
    }
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value {
    display: block;
    -webkit-transform: translateZ(0);
}

.counter-item .subtitle {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
}

.achivement-left {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    max-width: 850px;
}

.achivement-left .bg_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
}

.achivement-left .bg_img::before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(25, 22, 52, 0.67);
}

.section-header .title::before,
.footer-overlay::before,
.footer-overlay::after,
.banner-shape::after,
.banner-shape::before,
.banner-content-2 .subtitle::before,
.banner-section-2::before,
.banner-section-2::after,
.banner-icon::before,
.left-shape::after,
.left-shape::before,
.video-wrapper::after,
.video-wrapper::before,
.gallery-item-2 .gallery-inner-2 .gallery-content,
.history-area::before,
.counter-item::before,
.achivement-left .bg_img::before,
.award-item-2 .award-inner .award-thumb::before,
.award-item-2 .award-inner .award-thumb::after,
.hero-section::before,
.hero-section::after,
.post-item .post-thumb a::before {
    position: absolute;
    content: '';
}

.achivement-left .bg_img img {
    position: absolute;
    max-width: 100%;
    width: 50%;
    left: 50%;
    bottom: -130px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.history-area {
    padding: 50px;
    border-radius: 10px;
    position: relative;
}

.history-area::before {
    left: 0;
    top: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 29, 58, 0.961);
}

.section-header .title::before,
.footer-overlay::before,
.footer-overlay::after,
.banner-shape::after,
.banner-shape::before,
.banner-content-2 .subtitle::before,
.banner-section-2::before,
.banner-section-2::after,
.banner-icon::before,
.left-shape::after,
.left-shape::before,
.video-wrapper::after,
.video-wrapper::before,
.gallery-item-2 .gallery-inner-2 .gallery-content,
.history-area::before,
.counter-item::before,
.achivement-left .bg_img::before,
.award-item-2 .award-inner .award-thumb::before,
.award-item-2 .award-inner .award-thumb::after,
.hero-section::before,
.hero-section::after,
.post-item .post-thumb a::before {
    position: absolute;
    content: '';
}

.history-area .item {
    margin-bottom: 30px;
}

.history-area * {
    position: relative;
}

@media (min-width: 992px) {
    .history-area .item {
        margin-bottom: 40px;
    }
}

p:last-child {
    margin-bottom: -7px !important;
}

.history-area * {
    position: relative;
}

.tab-content>.active {
    display: block;
}

.history-area .item .title {
    margin-bottom: 15px;
}

.history-area * {
    position: relative;
}

h6 {
    font-size: 18px;
    margin-top: -7px;
    font-weight: 500;
}

@media (min-width: 768px) {
    h6 {
        font-size: 20px;
        line-height: 26px;
        margin-top: -2px;
    }
}

.mb-30-none {
    margin-bottom: -30px !important;
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

.skillbar-title {
    margin-bottom: 10px;
}

.skill-full {
    background: #272440;
    height: 9px;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
}

.skill-anime {
    animation: skill-anime !important;
    -webkit-animation: skill-anime !important;
    -moz-animation: skill-anime !important;
    animation-duration: 6s !important;
    -webkit-animation-duration: 6s !important;
    -moz-animation-duration: 6s !important;
}

.skillbar-bar {
    height: 9px;
    width: 0px;
    background: #08d565;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
    position: relative;
}

@keyframes skill-anime {
    0% {
        width: 0;
    }
}

.skill-full {
    background: #272440;
    height: 9px;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    border-radius: 4.5px;
}

.skillbar-bar::after {
    content: attr(data-percent);
    position: absolute;
    right: 0;
    bottom: 18px;
    font-weight: 500;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

@media (min-width: 576px) {
    .skillbar {
        font-size: 20px;
    }
}

.award-item {
    background: #272440;
    border-radius: 10px;
    margin-bottom: 30px;
}

.award-item .award-thumb {
    background: #201d3a;
    width: 315px;
    border-radius: 10px 0 0 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.social-icons,
.footer-bottom .links,
.footer-area,
.header-wrapper,
.menu,
.header-bottom-wrapper,
.header-search-form,
.follow-area,
.banner-counter-wrapper,
.banner-counter-item,
.partner-item,
.award-item,
.award-item .award-thumb,
.tweet-item .tweet-header,
.tweet-item .tweet-footer,
.gallery-thumb a,
.owl-dots,
.gallery-item-2 .gallery-inner-2 .gallery-content,
.gallery-wrapper,
.history-tab,
.tab-menu,
.counter-item .counter-header,
.about-area .item,
.award-item-2 .award-inner,
.circle-area,
.history-item-2,
.about-item,
.pagination,
.contact-info-item,
.contact-wrapper,
.comment-area li .comment-item,
.blog-item,
.blog-item-2 .blog-footer,
.blog-item-2 .blog-footer .author,
.post-item .post-content .post-tags,
.preloader {
    display: flex;
    flex-wrap: wrap;
}

.award-item .award-thumb .thumb {
    max-width: 80px;
}

.award-item .award-thumb .cont {
    padding-left: 10px;
    max-width: calc(100% - 80px);
    font-size: 55px;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
}

.award-item .award-thumb .cont span {
    font-size: 80%;
}

.award-item .award-content {
    width: calc(100% - 315px);
    border-radius: 0 10px 10px 0;
    padding: 40px 50px;
    background: url(./img/award-content.png) repeat-y left center;
}

@media (min-width: 768px) {
    h4 {
        font-size: 28px;
        line-height: 38px;
        margin-top: -5px;
    }
}

.award-item .award-content .title {
    margin-bottom: 20px;
    text-transform: capitalize;
}

.bg-overlay,
.overlay-83,
.overlay-82 {
    position: relative;
    overflow: hidden;
}

.bg-overlay::before,
.overlay-83::before,
.overlay-82::before {
    width: 101%;
    height: 101%;
    background: #272440;
    opacity: .97;
}

.bg-overlay::before,
.overlay-83::before,
.overlay-82::before,
.video-fluid::before,
.circle strong,
.hero-content .title::before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
}

.footer-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 100;
}

.footer-top .title {
    margin-bottom: 20px;
    text-align: center;
}

.social-icons {
    justify-content: center;
    margin: -4px;
}

.social-icons,
.footer-bottom .links,
.footer-area,
.header-wrapper,
.menu,
.header-bottom-wrapper,
.header-search-form,
.follow-area,
.banner-counter-wrapper,
.banner-counter-item,
.partner-item,
.award-item,
.award-item .award-thumb,
.tweet-item .tweet-header,
.tweet-item .tweet-footer,
.gallery-thumb a,
.owl-dots,
.gallery-item-2 .gallery-inner-2 .gallery-content,
.gallery-wrapper,
.history-tab,
.tab-menu,
.counter-item .counter-header,
.about-area .item,
.award-item-2 .award-inner,
.circle-area,
.history-item-2,
.about-item,
.pagination,
.contact-info-item,
.contact-wrapper,
.comment-area li .comment-item,
.blog-item,
.blog-item-2 .blog-footer,
.blog-item-2 .blog-footer .author,
.post-item .post-content .post-tags,
.preloader {
    display: flex;
    flex-wrap: wrap;
}

.social-icons li {
    padding: 4px;
}

ul li {
    list-style: none;
}

.social-icons li a {
    width: 62px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 20px;
    background: #3b3952;
    color: #fff;
}

.social-icons li a.active,
.social-icons li a:hover {
    background: #08d565;
}

.gallery-thumb {
    position: relative;
}

.gallery-thumb a {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background: rgba(25, 22, 52, 0.91);
    opacity: 0;
}

.social-icons,
.footer-bottom .links,
.footer-area,
.header-wrapper,
.menu,
.header-bottom-wrapper,
.header-search-form,
.follow-area,
.banner-counter-wrapper,
.banner-counter-item,
.partner-item,
.award-item,
.award-item .award-thumb,
.tweet-item .tweet-header,
.tweet-item .tweet-footer,
.gallery-thumb a,
.owl-dots,
.gallery-item-2 .gallery-inner-2 .gallery-content,
.gallery-wrapper,
.history-tab,
.tab-menu,
.counter-item .counter-header,
.about-area .item,
.award-item-2 .award-inner,
.circle-area,
.history-item-2,
.about-item,
.pagination,
.contact-info-item,
.contact-wrapper,
.comment-area li .comment-item,
.blog-item,
.blog-item-2 .blog-footer,
.blog-item-2 .blog-footer .author,
.post-item .post-content .post-tags,
.preloader {
    display: flex;
    flex-wrap: wrap;
}

.gallery-thumb a i {
    line-height: 1;
    font-size: 140px;
}

.owl-dots {
    counter-reset: dots;
    justify-content: center;
    margin: -5px -15px;
    margin-top: 20px;
}

.social-icons,
.footer-bottom .links,
.footer-area,
.header-wrapper,
.menu,
.header-bottom-wrapper,
.header-search-form,
.follow-area,
.banner-counter-wrapper,
.banner-counter-item,
.partner-item,
.award-item,
.award-item .award-thumb,
.tweet-item .tweet-header,
.tweet-item .tweet-footer,
.gallery-thumb a,
.owl-dots,
.gallery-item-2 .gallery-inner-2 .gallery-content,
.gallery-wrapper,
.history-tab,
.tab-menu,
.counter-item .counter-header,
.about-area .item,
.award-item-2 .award-inner,
.circle-area,
.history-item-2,
.about-item,
.pagination,
.contact-info-item,
.contact-wrapper,
.comment-area li .comment-item,
.blog-item,
.blog-item-2 .blog-footer,
.blog-item-2 .blog-footer .author,
.post-item .post-content .post-tags,
.preloader {
    display: flex;
    flex-wrap: wrap;
}

.owl-dots .owl-dot.active {
    color: #ffffff;
}

.owl-dots .owl-dot {
    margin: 0 5px;
    padding: 5px 10px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 500;
    position: relative;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.32);
}

.owl-dot::before {
    counter-increment: dots;
    content: "0" counter(dots);
}

.owl-dots .owl-dot.active::after {
    background: #08d565;
}
.banner-content .sign {
    margin-bottom: 80px;
}
.banner-content .sign img {
    transform: scale(.7);
}
.owl-dots .owl-dot::after {
    width: 100%;
    left: 0;
    top: 40%;
    display: block;
    height: 4px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    content: "";
}

.owl-theme .owl-dots .owl-dot span {
    display: none !important;
}

@media (min-width: 768px) {
    .owl-dots .owl-dot {
        font-size: 32px;
    }
}

video {
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    .banner-section {
        padding: 250px 0 0;
    }

    .banner-content .title {
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 20px;
    }
    .banner-thumb img {
        max-width: none;
        width: 100%;
        height: 100%;
        transform: translateY(-100px);
}
.banner-thumb {
    margin: 0 auto;
}
.history-area {
    padding: 40px 30px;
}
}

@media (max-width: 768px) {
    .award-item .award-thumb, .award-item .award-content {
        width: 100%;
    }
    .award-item .award-thumb {
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
    }
    .award-item .award-thumb .cont {
        font-size: 40px;
    }
    .award-item .award-content {
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
        padding: 40px 30px;
    }
    .award-item .award-content {
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
        padding: 40px 30px;
    }
    .award-item .award-content {
        padding: 30px 15px;
    }
    .banner-section {
        padding: 150px 0 0;
    }
    .banner-content .sign{
        margin-bottom: 0;
    }
}


@media (max-width: 575px) {
    .counter-item .subtitle {
        font-size: 18px;
        margin-top: 20px;
    }
    .history-section,.achivement-section{
        padding-bottom: 0 !important;
    }
    .social-icons li a {
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        width: 50px;
    }
    .history-area {
        padding: 40px 15px;
    }
    .mt--103{
        margin-top: -150px;
    }
    .banner-shape.shape-4,
    .banner-shape.shape-5,
    .banner-shape.shape-6 {
        display: none;
    }
    .banner-section {
        padding:50px 0 0 0 ;
    }
    .banner-shape.shape-1 {
        left: 16px;
    }

    .banner-shape.shape-2 {
        left: 50%;
    }

    .banner-shape.shape-3 {
        left: calc(100% - 16px);
    }

    .banner-content .title {
        font-size: 50px;
        line-height: 65px;
    }
    .video-button.large{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.owl-dot:nth-of-type(n+6) {
    display: none !important;
}
.owl-carousel .owl-item img{
    width: 100%;
    height: 296px;
    object-fit: cover;
}
.partner-item {
    height: 90px;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.social-icons, .footer-bottom .links, .footer-area, .header-wrapper, .menu, .header-bottom-wrapper, .header-search-form, .follow-area, .banner-counter-wrapper, .banner-counter-item, .partner-item, .award-item, .award-item .award-thumb, .tweet-item .tweet-header, .tweet-item .tweet-footer, .gallery-thumb a, .owl-dots, .gallery-item-2 .gallery-inner-2 .gallery-content, .gallery-wrapper, .history-tab, .tab-menu, .counter-item .counter-header, .about-area .item, .award-item-2 .award-inner, .circle-area, .history-item-2, .about-item, .pagination, .contact-info-item, .contact-wrapper, .comment-area li .comment-item, .blog-item, .blog-item-2 .blog-footer, .blog-item-2 .blog-footer .author, .post-item .post-content .post-tags, .preloader {
    display: flex;
    flex-wrap: wrap;
}
.partner-item img {
    max-width: 100%;
    width: unset !important;
}
.partner-item h4{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    opacity: .7;
}